.metadata
/Vscode
/Hola_C
/Prueba_C
/Variables_C
/Stdint_Float
/Pointer_Casting
/Programa_Punteros
/Prueba_Embebido
/Programa_DelayFor
/4.Programa_Punteros/Codigo_STM32/Debug
/4.Programa_Punteros/Codigo PIC18/Hola_Mundo.X/debug
/4.Programa_Punteros/Codigo PIC18/Hola_Mundo.X/dist
/4.Programa_Punteros/Codigo PIC18/Hola_Mundo.X/build
/4.Programa_Punteros/Codigo_STM32/.settings
/5.Operadores_Bitwise/Codigo_STM32/.settings
/7.Bucles/Codigo_STM32/.settings
/7.Bucles/Codigo_STM32/Debug